<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student_profile.name %>
</p>

<p>
  <b>Userid:</b>
  <%= @student_profile.userID %>
</p>


<%= link_to 'Edit', edit_student_profile_path(@student_profile) %> |
<%= link_to 'Back', student_profiles_path %>
